<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>


    <header>
    <a href="/src/main/resources/static/images/banner_libreria.png" alt="registro"></a>
    
    <hgroup>
        <h1>Libreria</h1>
        <h2>Registra tu libro</h2>
    </hgroup>

    </header>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="registro.html">Registrarse</a></li>
        </ul>
    </nav>

    <section class="articles">
        <article>
            <time datetime="2021-10-31">Octubre 31, 2021</time>
            <h2>Dejanos tu libro registrado.</h2>

            <div class="content">
                <form action="">
                    
                </form>
            </div>

        </article>
    </section>




   

    
</body>
</html>