<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/indexstyle.css" type="text/css">
    <title>Inicio</title>
    
</head>
<body>


    <header>
    <div id="banner">
    <img src="/src/main/resources/static/images/banner_libreria.png" id="imgbanner">
    </div>
    
    <hgroup>
        <h1>Libreria</h1>
    </hgroup>

    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro">Registrarse</a></li>
        </ul>
    </nav>

    <section class="articles">
        <article>
            <time datetime="2021-10-31">Octubre 31, 2021</time>
            <h2>Dejanos tu libro registrado.</h2>

            <div class="content">
               
            </div>

        </article>
    </section>

</body>
</html>