<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th ="http://www.thymeleaf.org">
<title>Inicio</title>

<nav th:replace="/fragments/navbar :: nav"></nav>
<body>

    <p>El diseño es desde un fragments</p>

      <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>
</body>
</html>