<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head th:replace="/fragments/head :: head"></head>
<body>
    <!--Navigation-->
    <nav th:replace="/fragments/navbar :: nav"></nav>
    

    <section>
        <h2>Ingresa a la Librería</h2>
        <p>Ingresa a la Librería y podrás adquirir cualquier libro que necesites y ver libros disponibles.</p>
        <form th:action="/logincheck" method="POST">
            <p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
            <p th:if="${logout != null}" th:text="${logout}" style="color: blue;"></p>
            <label for="">E-Mail</label>
            <input type="email" name="username">
            <label for="">Clave</label>
            <input type="password" name="password">
            <button type="submit" class="btn btn-primary"> Ingresar</button>
        </form>
    </section>

      <!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>
</body>
</html>