<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/registrostyle.css" type="text/css">
    <title>Registro</title>
    
</head>
<body>


    <header>
    <div id="banner">
    <img src="/src/main/resources/static/images/banner_libreria.png" id="imgbanner">
    </div>
    
    <hgroup>
        <h1>Libreria</h1>
    </hgroup>

    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro">Registrarse</a></li>
        </ul>
    </nav>

    <section class="articles">
        <article>
           
            <h2>Registrar Libro.</h2>

            <div class="content">
                <form action="/registrar" method="post" enctype="multipart/form-data">
                    <ul>
                        <li><label for="">Autor: </label><input type="text" th:value="${nombreAutor}"></li>
                        <li><label for="">Editorial: </label><input type="text" th:value="${tituloEditorial}"></li>
                        <li><label for="">Titulo: </label><input type="text" th:value="${tituloLibro}"></li>
                        <li><label for="">ISBN: </label><input type="text" th:value="${isbn}"></li>
                        <li><label for="">Ejemplares: </label><input type="text" th:value="${ejemplares}"></li>
                        <li><label for="">Año: </label><input type="text" th:value="${anio}"></li>
                    </ul>
                </form>
            </div>

        </article>
    </section>

</body>
</html>