<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head th:replace="/fragments/head :: head"></head>
<body>
    <!--Navigation-->
    <nav th:replace="/fragments/navbar :: nav"></nav>
    

    <section>
      <h2>Registrar Autor</h2>

      <div class="content">
        <form action="/autor/registrarAutor" method="post" enctype="multipart/form-data">
            <p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
            <ul
                <li><label for="">Nombre: </label><input type="text" name="nombre" th:value="${nombreAutor}"></li>
            </ul>
            <button type="submit">Registrar Autor</button>
        </form>
    </div>
    </section>

      <!-- Bootstrap core JavaScript -->
 <script th:replace="/fragments/boostjs :: script"></script>
</body>
</html>