<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registrar.css">
    <title>Registro</title>

</head>
<body>


    <h2>Registrar Usuario.</h2>

    <div class="content">
        <form action="/registroCliente" method="post" enctype="multipart/form-data">
            <p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
            <ul>
                <li><label for="">Nombre: </label><input type="text" name="nombre" th:value="${nombre}"></li>
                <li><label for="">Apellido: </label><input type="text" name="apellido" th:value="${apellido}"></li>
                <li><label for="">Email: </label><input type="email" name="email" th:value="${email}"></li>
                <li><label for="">Documento: </label><input type="number" name="dni" th:value="${dni}"></li>
                <li><label for="">Telefono</label><input type="number" name="telefono" th:value=${telefono}></li>
            </ul>
            <button type="submit">Registrar Usuario</button>
        </form>
    </div>
    
</body>
</html>